<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- scripts -->
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <!-- navbar -->
      <%- include('../partials/header', {'categoriesList':categoriesList,
      'searchTerm': searchTerm, 'searchCategory': searchCategory, 'isLoggedIn': isLoggedIn}) %>
    </header>

    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">Sell your item on SFSU Buy & Sell</h1>
          <!-- <div class="alert alert-danger">
            <strong>Invalid Input!</strong> Please fill out all mandatory
            fields.
          </div> -->
          <form
            class="form"
            role="form"
            autocomplete="off"
            action="/sell"
            enctype="multipart/form-data"
            method="POST"
          >
            <div class="form-group">
              <input
                type="text"
                id="item"
                name="title"
                class="form-control"
                placeholder="Name of Item"
              />
              <br />
              <div class="form-group row">
                <div class="col-lg-9">
                  <select class="form-control" name="category">
                    <% for (var i = 0; i < categoriesList.length; i++) { %>
                      <option class="dropdown-item" value="<%= categoriesList[i].id %>" <% if (searchCategory == categoriesList[i].name) { %>selected
                              <% } %>
                      ><%= categoriesList[i].name %></option
                      >
                  <% } %>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                    <div class="col-lg-9">
                      <select class="form-control" name="class">
                          <option class="dropdown-item" value="0">N/A</option>
                        <% for (var i = 0; i < classesList.length; i++) { %>
                          <option class="dropdown-item" value="<%= classesList[i].id %>" <% if (searchCategory == classesList[i].class) { %>selected
                                  <% } %>
                          ><%= classesList[i].class %></option
                          >
                      <% } %>
                      </select>
                    </div>
                  </div>
              
              <input
                type="number"
                id="item"
                name="price"
                class="form-control"
                placeholder="Price of Item"
              />
              <br />
              <textarea
                class="form-control"
                rows="5"
                id="description"
                name="description"
                placeholder="Item Description"
              ></textarea>
              <br />
            </div>

            <div>
              <div class="form-group row"></div>
              <label class="col-lg-3 col-form-label form-control-label"
                >Upload an Image</label
              >
              <div class="col-lg-9">
                <input type="file" name="thumb" />
              </div>
            </div>

            <!-- Image Upload -->
            <div class="text-center">
              <img id="uploadedImage" />
            </div>

            <script>
              function readURL(input) {
                if (input.files && input.files[0]) {
                  var reader = new FileReader();
                  reader.onload = function(e) {
                    $("#uploadedImage").attr("src", e.target.result);
                  };
                  reader.readAsDataURL(input.files[0]);
                }
              }
            </script>

            <br />
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="defaultIndeterminate2"
                checked
              />
              <label class="custom-control-label" for="defaultIndeterminate2"
                >You agree to our Terms and Conditions.</label
              >
            </div>
            <br />
            <div class="btn-group">
              <div class="col-md-6">
                <input
                  type="reset"
                  href="/listing"
                  onclick="window.location.href = '/listing';"
                  class="btn btn-secondary"
                  value="Cancel"
                />
              </div>
              <div class="col-md-6">
                <input type="submit" class="btn btn-primary" value="Post" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br />
    <footer>
      <%- include('../partials/footer', {"cp":"Copyright"}) %>
    </footer>
  </body>
</html>
